#black-text-container {
    display: flex;
    width: 2000px; 
    justify-content: center;
 
 }
 a {
     color: white;
     font-size: 20px;
     text-decoration: none;
     opacity: 80%;
 }
 a:hover {
   opacity: 100%;
}

 body {
     display: flex;
     flex-direction: column;
     align-items: center;
    background-image: url('../img/aqauriusback.jpg');
    background-size: 100%,110%;
    font-family: 'Lato';
    font-size: 22px;
    letter-spacing: 1.5px;
    color: white ;
    text-shadow: 2px 2px 2px #686868;
 }

 #horoscope {
     width: 500px;
     border: 1px  ;
     padding: 20px;
     animation: glowingbox 5s infinite;
     background-color: #068358;
     border-radius: 50px;
     margin-bottom: 20px;
 }

 p {
    text-align: center;
 }

 @keyframes glowingbox {
    50% {box-shadow: 0px 0px 20px 10px #068358}
 }

 #star-container {
    display: flex;
    align-items: left;
 }
.star1 {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    right: 30px;
    top: 30px;
    background-color: white;
    box-shadow: 0px 0px 5px 4px white;
    animation: fadeIn 5s infinite;
    transform: rotate(45deg);
 }

 .star2 {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
   top: 50px;
    left: 50px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 0px 5px 3px white;
    animation: fadeIn 4s infinite;
    transform: rotate(45deg);
 }

 .star3 {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    top: 400px;
    left: 200px;
    background-color: white;
    box-shadow: 0px 0px 5px 4px white;
    animation: fadeIn 3s infinite;
    transform: rotate(45deg);
 }
 .star4 {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    top: 250px;
    right: 250px;
    background-color: white;
    box-shadow: 0px 0px 5px 3px white;
    animation: fadeIn 4s infinite;
    transform: rotate(45deg);
 }
 .star5 {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    bottom: 70px;
    right: 150px;
    background-color: white;
    box-shadow: 0px 0px 5px 3px white;
    animation: fadeIn 5s infinite;
    transform: rotate(45deg);
 }
 .star6 {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    top: 200px;
    left: 340px;
    background-color: white;
    box-shadow: 0px 0px 5px 5px white;
    animation: fadeIn 4s infinite;
    transform: rotate(45deg);
 }
 .star7 {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    top: 670px;
    left: 410px;
    background-color: white;
    box-shadow: 0px 0px 5px 3px white;
    animation: fadeIn 2s infinite;
    transform: rotate(45deg);
 }
 .star8 {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    bottom: 10px;
    left: 70px;
    background-color: white;
    box-shadow: 0px 0px 5px 3px white;
    animation: fadeIn 3s infinite;
    transform: rotate(45deg);
 }

 .star12 {
   width: 0.1px;
   height: 0.1px;
   position: absolute;
   top: 30px;
   left: 500px;
   background-color: white;
   box-shadow: 0px 0px 5px 3px white;
   animation: fadeIn 3s infinite;
   transform: rotate(45deg);
}
.star13 {
   width: 0.1px;
   height: 0.1px;
   position: absolute;
   top: 110px;
   right: 600px;
   background-color: white;
   box-shadow: 0px 0px 5px 4px white;
   animation: fadeIn 6s infinite;
   transform: rotate(45deg);
}
.star14 {
   width: 0.1px;
   height: 0.1px;
   position: absolute;
   bottom: 200px;
   right: 400px;
   background-color: white;
   box-shadow: 0px 0px 5px 3px white;
   animation: fadeIn 2s infinite;
   transform: rotate(45deg);
}
.star15 {
   width: 0.1px;
   height: 0.1px;
   position: absolute;
   top: 400px;
   right: 90px;
   background-color: white;
   box-shadow: 0px 0px 5px 5px white;
   animation: fadeIn 3s infinite;
   transform: rotate(45deg);
}



 .star9 {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    top: 10px;
    right: 410px;
    background-color: white;
    box-shadow: 0px 0px 5px 4px white;
    animation: delay 6s ease 4s infinite, shootingStar 6s ease 4s infinite;
    transform: rotate(45deg);
 }

 .star10 {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    top: 10px;
    right: 410px;
    background-color: white;
    box-shadow: 0px 0px 5px 3px white;
    animation: delay 8s ease 7s infinite, shootingStar2 8s ease 7s infinite;
    transform: rotate(45deg);
 }

 .star11 {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    top: 10px;
    right: 410px;
    background-color: white;
    box-shadow: 0px 0px 5px 3px white;
    animation: delay 5s ease 2s infinite, shootingStar3 5s ease 2s infinite;
    transform: rotate(45deg);
 }


 

 @keyframes fadeIn {
     0% { opacity: 0; }
     50% { opacity: 1; }
     100% { opacity: 0; }
 }

 @keyframes shootingStar {
    0% { top: 0px; right: 40px }
    20% { top: 400px; right: 400px}
    100% { top: 400px; right: 400px}

}

@keyframes shootingStar2 {
    0% { top: 30px; left: 40px }
    20% { top: 500px; left: 400px}
    100% { top: 500px; left: 400px}

}

@keyframes shootingStar3 {
    0% { top: 10px; left: 500px }
    20% { top: 70px; left: 900px}
    100% { top: 70px; left: 900px}

}

@keyframes delay {
    0% { opacity: 1; }
    10% {opacity: 1;}
    20% {opacity: 0;}
    100% { opacity: 0; }
}
